#new-password-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  background-color: #292929a8;
}

#check-icon{
  display: none;
  width: 60px;
  cursor: pointer;
}

#new-password-modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border: 3px solid #EF963F;
  border-radius: 5px;
  background-color: #ffffff;
}

#new-password-modal input{
  width: 300px;
  height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid #FFB64C 1px;
  border-radius: 5px;
}

.container-account{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.container-account img {
  width: 150px;
}

.container-account h1, .container-account h2{
  color: #292929;
}

.container-account button, #new-password-modal button{
  width: 150px;
  height: 30px;
  background-color: #EF963F;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}

.container-account button:hover{
  opacity: 0.9;
}

.organization-options-informations{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 768px;
}
.container-perfil-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-perfil-informations{
  width: 500px;
}

.container-perfil-informations input{
  height: 30px;
  padding-left: 10px;
  margin: 10px;
  border: solid #FFB64C 1px;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.container-title-back{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.back-button{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}

#back-button-img{
  width: 50px;
}

.back-button span, #new-password-modal span{
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #292929;
}

#new-password-modal span{
  margin-left: 0;
  color: #EF963F;
}

#delete-account{
  background-color: #c00000;
}